@font-face {
    font-family: "thinoo";
    src: url("../assets/fonts/Dosis-Book.ttf")
}

body {
    background-image: url(../assets/images/background.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    cursor: url("../assets/cursors/arrow.cur"), auto;
    font-family: "thinoo";
}


/*.question-box{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 4vh;
}

.question {
    font-size: 20vh;
}

.answer-box {
    margin: auto;
    display: flex;
    height: 41vh;
    width: 41vh;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1vh;
    align-items: center;
    align-content: center;
}

.answer-btn {
    display: flex;
    background: #E56528;
    height: 20vh;
    line-height: 20vh;
    width: 20vh;
    flex-basis: 20vh;
    border-radius: 2vh;
    justify-content: center;
    font-size: 8vh;
    font-family: "thinoo";
    color: white;
    cursor: url("../assets/cursors/link.cur"), auto;
}
.true {
    background: chartreuse;
}

.false {
    background: crimson;
}*/