<test>
    <h3>{ this.state.title }</h3>
    <script>
        export default {
            onBeforeMount() {
                this.state = {
                    title: "test"
                }
            }
        }
    </script>
</test>