<testbtn>
    <div>button { this.state.number }</div>
    <script>
        export default {
            onBeforeMount() {
                this.state = {
                    number = 0
                };
            }
        }
    </script>
</testbtn>