<test>
    <div>{ this.state.title }</div>
    <h1>My todo list</h1>
    <ul>
        <li>Learn Riot.js</li>
        <li>Build something cool</li>
    </ul>
    <script>
        export default {
            onBeforeMount() {
                this.state = {
                    title: "test"
                }
            }
        }
    </script>
</test>