<testbtn>
    <div onclick={ clicked }>button</div>
    <testnum val={this.state.number}></testnum>
    <script>
        export default {
            onBeforeMount() {
                this.state = {
                    number = 0
                };
            },
            clicked(e) {
                this.state.number++;
                this.update();
            }
        }
    </script>
</testbtn>