<test-btn>
    <div>button</div>
    <script>
        export default {
            onBeforeMount() {
                this.state = {
                    number = 0
                };
            },
            clicked(e) {
                this.state.number++;
                this.update();
            }
        }
    </script>
</test-btn>