<test>
    <div>{ this.state.title }</div>
    <script>
        export default {
            onBeforeMount() {
                this.state = {
                    title: "test"
                }
            }
        }
    </script>
</test>