<test-question>
    <span class="question">{this.props.question}</span>
    <style>
        .question {
            font-size: 20vh;
        }
    </style>
    <script>
        export default {

        }
    </script>
</test-question>