<testbtn>
    <div>button</div>
    <script>
        export default {
            onBeforeMount() {
                this.state = {
                    number = 0
                };
            }
        }
    </script>
</testbtn>