<timer>
    <span class="timer">{this.props.time}</span>
    <style>
        .timer {
            font-size: 3vh;
			font-family: "thinoo";
        }
    </style>
    <script>
        export default {

        }
    </script>
</timer>